/* a{
    text-decoration: none;
}
img {
    height: 4em;
    margin: 0.5em;
} */

.layout{
    /* max-width: 900px; */
    margin: 0 auto;
    padding: 0 10%;
    
        background-color: #fafafa;
        /* padding: 10% 0; */
    
}